<table>
    <thead>
        <tr>
            <th data-field="id">Essen</th>
            <th data-field="id">Preise</th>
        </tr>
    </thead>

    <tbody>
    {{#each foods.todayFoods}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
        </tr>
    {{/each}}
        <tr>
            <td><i>Morgen / Montag:</i></td>
            <td></td>
        </tr>
    {{#each foods.tomorrowFoods}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
