<table>
    <thead>
        <tr>
            <th data-field="id">Essen</th>
            <th data-field="id">Preise</th>
        </tr>
    </thead>

    <tbody>
    {{#each foods.today}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

{{#if isTomorrow}}
    <table>
        <thead>
            <tr>
                <th>Morgen / Montag</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {{#each foods.tomorrow}}
            <tr>
                <td>{{name}}</td>
                <td>{{price}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/if}}
